<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Vista Admin Lista Electrodomésticos - Usuarios Sermatec</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link href="../css/styles.css" rel="stylesheet" />
<link href="../../css/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
	crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="adminView.html">Sermatec</a>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
					class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end"
					aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Settings</a></li>
					<li><a class="dropdown-item" href="#!">Activity Log</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="index.html">Logout</a></li>
				</ul></li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>

				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table me-1"></i> Lista de Electrodomésticos
						<form></form>
						<a class="btn btn-primary" th:href="@{elec/addElec}" role="button">Nuevo
							Electrodoméstico</a> <a class="btn btn-info" href="/admin"
							role="button">Volver a la pagina principal</a>
					</div>
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
								<tr>
									<th>ID</th>
									<th>NOMBRE</th>
									<th>AÑOS GARANTÍA</th>
									<th>MARCA</th>
									<th>ESTADO</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ID</th>
									<th>NOMBRE</th>
									<th>AÑOS GARANTÍA</th>
									<th>MARCA</th>
									<th>ESTADO</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="type:${type}">
									<td th:text="${type.id}"></td>
									<td th:text="${type.name}"></td>
									<td th:text="${type.years}"></td>
									<td th:text="${type.brand}!=null? ${type.brand.name}:''"></td>
									<td th:text="${type.state}"></td>
									<td><a th:href="@{/elec/edit/}+${type.id}"
										class="btn btn-warning">Editar</a> <a
										th:href="@{/elec/delete/}+${type.id}" class="btn btn-danger">
											<span th:if="${type.state == NOT_ACTIVE}">Activar</span><span
											th:ulsess="${type.state == NOT_ACTIVE}">Desactivar</span>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</main>
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid px-4">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy; Your Website 2022</div>
					<div>
						<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
							&amp; Conditions</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
	</div>
	<script type="text/javascript">
		const element = document.getElementById("alerts");
		setTimeout(del, 3000);
		function del() {
			element.remove();
		}
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="../js/scripts.js"></script>
	>
	<script src="../../js/scripts.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		crossorigin="anonymous"></script>
	<script src="../js/datatables-simple-demo.js"></script>
	<script src="../../js/datatables-simple-demo.js"></script>
</body>
</html>
